#articleview_bg{z-index: 1;}
#articleview_bg::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(../images/article-view/articleview-bg.jpg);
      background-repeat: no-repeat;
      background-size: 100%;
      opacity: 0.8;
      filter:alpha(opacity=40);
      height:100%;
      width:100%;
      background-color: #141F3D !important;
      background-blend-mode: multiply;
 }

.container{
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

 .container #content-header{
    color: #FEFDFE !important;
 }
 
 .container hr{
    color: #FEFDFE;
    width: 300px;
 }

 .container ul i{
    color: #FEFDFE;
 }

 .container ul li{
    color: #FEFDFE;
 }

 .wp-block-image{
    display: flex;
    width: 796px;
    height: 557px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
 }

 .wp-block-image figure{
    width: auto;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    display: flex;
    position: relative;
 }

 .content-wrap{
    position: relative;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;

 }