fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0;
    padding-bottom: .50em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px #c7c6c6 solid;
    border-radius:10px;
    margin-bottom: 10px;
  }
legend{
    all: initial;
    display: block;
    padding-left: 2px;
    padding-right: 2px;
    border: none;
}
input[type="text"], textarea, select{
    border:none !important; 
}
.banner{
    width: 100%;
    height: 40vh;
    
}
.banner img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.form{
    color: #131E3A;
}

.form_group{
    border: 1px #333 solid;
    padding: 20px;
    width: 50dvw;
    display: none;
}
.active{
    display: block;
}
.form_group > p{
    font-size: 20px;
    font-weight: bolder;
    
}
input[type="text"], textarea{
width: 100%;
}

#r1, #r2{
    accent-color: #131E3A;
}
button{
    font-weight: bolder;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
}
.nextBtn{
    background-color:#131E3A;
    color: white;
    
}
.prevBtn{
    background-color: white;
    color: #131E3A;
}
.skipBtn{
    background-color: #616161;
    color: white;
}