@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* font-family: 'Roboto', sans-serif; */
/* color: #131e3a */
/* color: #fcd812 */
:root {
  --darkblue: #131e3a;
  --yellow: #fcd812;
  --white: #ffffff;
}

* {
  font-family: "Roboto", sans-serif;
  color: var(--darkblue);
  margin: 0;
  padding: 0;
}

.navbar-brand img,
.nav-link img {
  width: 230.25px;
  height: 47.4px;
}

.navbar .nav-link {
  color: var(--darkblue);
}
.navbar .nav-link:hover {
  color: #072a83;
}

.bi-calculator {
  background-color: var(--darkblue);
  padding: 0.5rem 0.7rem 0.5rem 0.7rem;
  border-radius: 50%;
}
.navbar-collapse.show {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100vw;
  z-index: 998;
}
.bi-x {
  display: none;
}
.navbar-toggler[aria-expanded="true"] {
  .bi-list {
    display: none;
  }
  .bi-x {
    display: inline;
  }
}
.bot-links {
  list-style: none;
  height: 10dvh;
  top: 90dvh;
  left: 0;
}
.bot-links li {
  height: 5dvh;
}
.bt-fb {
  display: block;
  width: 100vw;
  background: white;
}
.bt-call {
  display: block;
  width: 100vw;
  background: var(--darkblue);
}
footer {
  background: var(--darkblue);
}
.foot-links .nav-link,
.foot-left-links,
.foot-right-links,
.foot-email p,
.bi-chevron-right,
.foot-deets a {
  color: white;
}
.foot-links .nav-item:hover {
  .nav-link,
  .bi-chevron-right {
    color: var(--yellow);
  }
}
.foot-logo {
  filter: invert(1);
}
.foot-deets a:hover {
  color: var(--yellow);
}
.search-cont {
  background-image: url(../images/banner1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.search-overlay {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.4);
}
.search-overlay .title {
  text-shadow: 0 0 4px black;
}
.btn-rent,
.btn-buy {
  border-radius: 5px 5px 0 0;
  background: var(--darkblue);
  color: white;
}
.btn-check:checked + .btn {
  background: white;
  color: var(--darkblue);
}
.btn-check + .btn:hover {
  background: var(--darkblue);
  color: white;
}
.btn-buy:hover {
  background: var(--darkblue);
  color: white;
}
.btn-rent:hover {
  background: white;
  color: var(--darkblue);
}

.btn-search {
  background: var(--darkblue);
  border-radius: 0 5px 5px 0;
  .bi-search {
    color: white;
  }
}
.btn-search:hover {
  background: #19284d;
}
.btn-loc {
  border-radius: 0 0 0 5px;
}
.btn-loc:hover {
  background: var(--darkblue);
  .bi-geo-alt-fill {
    color: white;
  }
}
.dropdown-toggle:hover {
  color: #131e3a;
}
.inp-type {
  width: 60px;
}
.search-cont-bar {
  border-radius: 0 5px 5px 5px;
}
@media screen and (min-width: 768px) {
  .search-cont {
    padding: 5em !important;
  }
  .search-overlay {
    background: none;
  }
}
@media screen and (min-width: 992px) {
  .search-cont {
    padding: 10em !important;
  }
  .search-overlay {
    background: none;
  }
}
.dev-img-con {
  height: 50px;
  width: 100%;
}
.dev-img {
  filter: brightness(0) opacity(0.7);
  height: 45%;
  width: min-content;
}

.dev-img:hover {
  filter: brightness(1) opacity(1);
}
.dev-con {
  justify-content: space-around;
  height: 50px;
  align-content: center;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .dev-img-con {
    height: 70px;
  }
  .dev-con {
    height: 70px;
  }
}

.btn-light {
  background: var(--white);
  color: var(--darkblue);
}
.btn-light:hover {
  background-color: var(--yellow);
}
.partner-bg {
  background: linear-gradient(104deg, var(--darkblue) 55%, var(--white) 86%);
  background-size: auto;
  background-position: top right;
  position: relative;
  background-repeat: no-repeat;
}

@media (max-width: 992px) {
  .partner-bg {
    background: var(--darkblue);
  }
}
.partners-page-header h1 {
  color: var(--white);
}

#title-line {
  height: 10px;
  width: 135px;
  border-width: 0;
  background-color: #ff0000;
  position: relative;
  margin: auto;
}
.partner-banner {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}
.latestprop .item,
.latestvid .item {
  padding: 0.5em;
  display: flex;
  justify-content: center;
}
.latestprop,
.latestvid {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.latestprop .owl-carousel,
.latestvid .owl-carousel {
  max-width: 65%;
}
.owl-nav .owl-prev {
  top: 40%;
  position: absolute;
  left: -5%;
}

.owl-nav .owl-next {
  top: 40%;
  position: absolute;
  right: -5%;
}
.owl-nav .owl-prev span,
.owl-nav .owl-next span {
  width: 6vh !important;
  height: 6vh;
  color: var(--darkblue);
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 0 0.7rem 0.5rem 0.7rem;
}
.owl-nav .owl-prev:hover,
.owl-nav .owl-next:hover {
  background: none !important;
  border-radius: 50% !important;
  transform: translateY(-3px);
}
.latestprop .item:hover,
.latestvid .item:hover {
  transform: translateY(-3px);
}
@media screen and (max-width: 576px) {
  .owl-nav {
    display: none !important;
  }
  .latestprop .item,
  .latestvid .item {
    padding: 0.3em;
  }
  .latestprop .owl-carousel,
  .latestvid .owl-carousel {
    max-width: 100%;
  }
}
.view {
  padding: 0.3em 1em 0.3em 1em;
  border-radius: 50px;
  border: 1px solid var(--darkblue);
  color: var(--darkblue);
}
.view:hover {
  background: var(--darkblue);
  border: 1px solid var(--darkblue);
  color: var(--white);
}
.places img {
  height: 15em;
  object-fit: cover;
  object-position: center;
}
.places .row {
  padding-top: 1em;
}

.places .col {
  padding: 0 1em 0 0;
}
.places h5 {
  background: rgba($color: #131e3a, $alpha: 0.75);
  padding: 0.4em;
  border: 1px solid var(--white);
  color: var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.places .card:hover {
  transform: translateY(-5px);
}

@media screen and (max-width: 576px) {
  .places .row {
    padding-top: 0;
  }
  .places .col {
    padding: 0 1.5em 0 1.5em;
  }
}
